<nav class="navbar navbar-fixed-top box bg-light">
	<div class="container-fluid">
		<form class="form-inline">
			<a href="#" class="btn btn-info btn-space custom" role="button">Account</a>
			<a href="/admin-crud-users" class="btn btn-info btn-space custom" role="button">Add/Edit/Delete Users</a>
			<a href="/admin-crud-admins" class="btn btn-info btn-space custom" role="button">Add/Edit/Delete Admins</a>
			<a href="/admin-bus-intel" class="btn btn-info btn-space custom" role="button">Business Intelligence</a>
			<a href="/logout" class="btn btn-info btn-space custom" role="button">Logout</a>
		</form>
	</div>
</nav>