<h1>ERP - Admin - Create/Edit/Delete Users</h1>
<h3>Create New User Account</h3>
<form name='create_user' action='/admin-crud-users' method='post'>
	First Name:<br>
	<input type='text' name='f_name'><br>
	Last Name:<br>
	<input type='text' name='l_name'><br>

	Email:<br>
	<input type='text' name='email'><br>
	Password:<br>
	<input type='password' name='passowrd'><br>

	Signature:<br>
	<!-- NEED TO RESEARCH HOW TO UPLOAD...-->
	<input type='file' name='signature'></br>

	<input type='submit' value="Create Account">
</form>