<div class="container">
	<div class="col-sm-12 col-sm-offset-4">
		<h1>ERP - Admin - Account</h1>
	</div>

	{{> admin-navbar}}

	<br />

	<h3>Account</h3>
	<ul class="list-group">
		<li class="list-group-item">First Name: {{user.first_name}}</li>
		<li class="list-group-item">Last Name: {{user.last_name}}</li>
		<li class="list-group-item">E-mail: {{user.email}}</li>
		<li class="list-group-item">Password: {{user.password}}</li>
	</ul>