
<!DOCTYPE html>
<html lang="en">
<head>  
  <title>Employee Recogntion Award</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<header> 
		<nav class="navbar navbar-fixed-top box bg-light">
		  <div class="container-fluid">
		    <div class="navbar-header">
		    
		      <a class="navbar-brand" href="/">Employee Recogntion Award</a>
		    </div>
<br>
  <form class="form-inline">
		 <a href="/login" class="btn btn-info btn-space custom" role="button">Home</a>
     <a href="/userprofile" class="btn btn-info btn-space custom" role="button">Account</a>
		 <a href="/createAward" class="btn btn-info btn-space custom" role="button">Create Award</a>
		  <a href="/awardHistory" class="btn btn-info btn-space custom" role="button">Award History</a>
	   <a href="/logout" class="btn btn-info btn-space custom" role="button">Logout</a>
	
  </form>
</div>
</nav>
			
		<br><br><br>
		<style>
		body {
  font-family: Arial;
  margin: 0;
}
* {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}
.btn-space {
    margin-right: 15px;
}
.custom {
    width: 150px !important;
}


		</style>
	</header>
</head> 
</html>
